* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.heading {
  background-color: #9A9085;
  color: white;
  padding: 60px 0;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  gap: 20px;
}